body html {
  height: 100%;
  font-family: "Kanit", sans-serif;
  font-size: 1.2rem;
}

body {
  background-color: rgb(254, 255, 248);
}

.homepage-container {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  justify-content: space-around;
}

.homepage-section {
  width: 40%;
  border-radius: 15px;
  padding: 20px;
  margin-top: 15px;
  min-height: 400px;
}

.main-content-button {
  background-color: rgb(17, 180, 242);
  border: white solid 2px;
  border-radius: 25px;
  width: 120px;
  height: 40px;
  color: white;
}

#main-content-image {
  width: 40%;
  height: 430px;
  background-image: url("https://cdn.pixabay.com/photo/2015/04/19/08/33/flower-729514_1280.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.homepage-skill-btn {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.footer-img:hover {
  transition: transform 0.4s;
}

.footer-img:hover {
  transform: scale(1.2);
}

.contact-form {
  width: 60%;
  padding: 20px;
  margin-top: 60px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: "40%";
}

@media (max-width: 1030px) {
  .homepage-container {
    flex-direction: column;
    align-items: center;
  }
  .homepage-section {
    width: 80%;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 15px;
    min-height: 0px;
  }

  #main-content-image {
    width: 80%;
  }

  .contact-section {
    width: 60%;
  }

  .contact-form {
    width: 70%;
  }
}

@media (max-width: 760px) {
  .contact-form {
    width: 80%;
    padding: 20px;
    margin-top: 20px;
  }
  .nav-links {
    display: none !important;
  }
}

@media (max-width: 550px) {
  .homepage-section {
    width: 95%;
    border-radius: 15px;
    padding: 10px;
  }

  #main-content-image {
    width: 95%;
  }
}

@media (max-width: 390px) {
  .homepage-skill-btn {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  #main-content-image {
    height: 200px;
  }

  .contact-form {
    width: 100%;
  }
}

/*
.active-link {
  color: white !important;
}

.footer {
  width: 100%;
  bottom: 0;
}

 This makes page fill full page (for the footer) 
#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content-wrap {
  flex: 1;
}

.image-container {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 15px;
}

.about-image {
  position: absolute;
  height: 100%;
  width: 100%;
}

.project-title {
  text-align: center;
  font-size: 2rem;
}

.footer-img {
  transition: transform 0.2s;
}

.footer-img:hover {
  transform: scale(1.1);
}

@media (max-width: 380px) {
  .image-container {
    width: 280px;
    height: 280px;
  }
}
*/
