body {
  background-color: rgb(206, 245, 255);
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.image-container {
  width: 350px;
  height: 350px;

  border-radius: 15px;
}

.about-image {
  height: 100%;
  width: 100%;
}
